* {
   background-color: #57545d;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   text-align: center;
}

p {
    color: red;
}

.navtext {
    transition: 1s;
    color: blue;
    cursor: pointer;
}

.navtext:hover {
    transition: 1s;
    font-size: 20px;
}